/* start css.sty */
.cmr-7{font-size:70%;}
.cmmi-7{font-size:70%;font-style: italic;}
.cmmi-10{font-style: italic;}
.cmbx-12x-x-207{font-size:248%; font-weight: bold;}
.cmbx-12x-x-207{ font-weight: bold;}
.cmr-12{font-size:120%;}
.cmr-8{font-size:80%;}
.cmr-6{font-size:60%;}
.cmtt-8{font-size:80%;font-family: monospace;}
.cmtt-8{font-family: monospace;}
.cmtt-8{font-family: monospace;}
.cmti-12{font-size:120%; font-style: italic;}
.cmtt-10{font-family: monospace;}
.cmtt-10{font-family: monospace;}
.cmtt-10{font-family: monospace;}
.cmbx-10{ font-weight: bold;}
.cmbx-10{ font-weight: bold;}
.cmti-10{ font-style: italic;}
.cmtt-9{font-size:90%;font-family: monospace;}
.cmtt-9{font-family: monospace;}
.cmtt-9{font-family: monospace;}
.small-caps{font-variant: small-caps; }
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em; }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; width:0px;}
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .chapterToc ~ .likesectionToc, .chapterToc ~ .sectionToc, .likechapterToc ~ .likesectionToc, .likechapterToc ~ .sectionToc {margin-left:2em;}
 .chapterToc ~ .likesectionToc ~ .likesubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc {margin-left:4em;}
.chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:6em;}
 .likesectionToc , .sectionToc {margin-left:0em;}
 .likesectionToc ~ .likesubsectionToc, .likesectionToc ~ .subsectionToc, .sectionToc ~ .likesubsectionToc, .sectionToc ~ .subsectionToc {margin-left:2em;}
.likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:4em;}
 .likesubsectionToc, .subsectionToc {margin-left:0em;}
 .likesubsectionToc ~ .subsubsectionToc, .subsectionToc ~ .subsubsectionToc, {margin-left:2em;}
.figure img.graphics {margin-left:10%;}
div.verbatiminput {font-family: monospace; white-space: nowrap; }
/* end css.sty */

/* ==========================================================================
	#Fonts
========================================================================== */
@font-face {
    font-family: 'Open Sans';
    src: url('css/fonts/opensans-regular.eot');
    src: url('css/fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/opensans-regular.woff') format('woff'),
         url('css/fonts/opensans-regular.ttf') format('truetype'),
         url('css/fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('css/fonts/opensans-italic.eot');
    src: url('css/fonts/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/opensans-italic.woff') format('woff'),
         url('css/fonts/opensans-italic.ttf') format('truetype'),
         url('css/fonts/opensans-italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('css/fonts/opensans-bold.eot');
    src: url('css/fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/opensans-bold.woff') format('woff'),
         url('css/fonts/opensans-bold.ttf') format('truetype'),
         url('css/fonts/opensans-bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Dax-Regular';
  src: url('css/fonts/Dax-Regular.eot');
  src: url('css/fonts/Dax-Regular.eot?#iefix') format('embedded-opentype'),  
       url('css/fonts/Dax-Regular.woff') format('woff'), 
       url('css/fonts/Dax-Regular.ttf')  format('truetype'),
       url('css/fonts/Dax-Regular.svg#Dax-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight:300;    
    line-height: 20px;
    padding:0em 1em 0em 1em;
    margin: 0px 0px 0px 0px;
    background:#fefefe;
    color:#333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dax-Regular', sans-serif; 
    font-weight: bold;
    margin: 2em 0px 15px 0px;
}

h1 {
    color: #000;
    font-size: 2em;
    line-height: 1.5em;
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

h6 {
    color: #777777;
    background-color: inherit;
    font-size: 1em;
}

hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}

code, pre {
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit;
}

code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}

pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}

pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ==========================================================================
	figures
========================================================================== */

hr.figure { display: none; }
hr.endfigure { display: none; }

/* ==========================================================================
	scource code listings
========================================================================== */
div.crosslinks {
    background-color: #ccc;
    margin-left: -1em;
	margin-right: -1em;
	margin-bottom: -1em;
	text-transform: capitalize;
}

div.crosslinks > p {
    color: #ccc;
    margin: 0px;
    border: 0;
    padding: 1em;}

div.crosslinks ~ a, a:visited  {
    color: #0000aa;
}

/* ==========================================================================
	scource code listings
========================================================================== */
.lstlisting .label{margin-right:0.5em; }
div.lstlisting  {padding:0.5em; font-family: 'Consolas', 'Courier New', monospace; font-size: 15px; background-color:#eeeeee; margin-top:0.5em; margin-bottom:0.5em;}
div.lstinputlisting { padding-bottom:0.5em; font-family: 'Consolas', 'Courier New', monospace; font-size: 15px; background-color:#eeeeee; margin-top:0.5em; margin-bottom:0.5em;}
div.lstinputlisting p.indent { display: none }
div.lstinputlisting div.caption { text-indent:0em; margin-left:0em; padding:0.5em; font-family: sans-serif; white-space: normal; background-color:#ffffff; width:100%;}
div.lstinputlisting hr { display: none; }

/* basicstyle */
div.lstlisting .cmtt-10, div.lstinputlisting .cmtt-10 {color:Black;}
/*  identifierstyle */
div.lstlisting .cmssi-10, div.lstinputlisting .cmssi-10 {color:#444444;}
/*  keywordstyle */
div.lstlisting .cmssbx-10, div.lstinputlisting .cmssbx-10 {font-weight: bold; color:#880088;}
/*  commentstyle */
div.lstlisting .cmr-10, div.lstinputlisting .cmr-10 {color:#006644;}
/*  stringstyle */
div.lstlisting .cmbx-10, div.lstinputlisting .cmbx-10 {font-weight: normal; color:Blue;}
/*  commentstyle */
div.lstlisting .cmti-10, div.lstinputlisting .cmti-10 {font-style: normal; color:#aaaaaa;}
/*  numberstyle */
div.lstlisting .cmr-8, div.lstinputlisting .cmr-8 {display:'Courier New', inline-block; width:20px;}

/* */