# output directories
out/pdf/**/*
out/html/**/*
out/epub/**/*

# code stuff
code/*/.metadata/**/*
*.class

# latex/htlatex stuff
*.dvi
*.aux
*.log
*.out
*.glo
*.toc
*.ilg
*.blg
*.idx
*.idv
*.ind
*.4ct
*.4dx
*.4ix
*.4tc
*.lg
*.log
*.lof
*.lol
*.lot
*.tmp
*.xref
*.zip

# might be needed in the future?
*.html
*.css
*.pdf
*.epub