<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="hellowrold" sequenceNumber="68">
<locations>
<location path="${eclipse_home}\" type="Directory"/>
<location path="${scout_rap_target}" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.scout.rt.ui.rap.incubator.filechooser.source.feature.group" version="4.0.100.20140917-0958"/>
<repository location="http://download.eclipse.org/scout/releases/4.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.fileupload.feature.feature.group" version="2.3.0.20140611-1558"/>
<repository location="http://download.eclipse.org/rt/rap/incubator/2.3/fileupload/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.bsiag.scout.rt.ui.swing.laf.rayo.feature.group" version="4.0.100.20140903-1234"/>
<unit id="com.bsiag.scout.rt.ui.swing.laf.rayo.source.feature.group" version="4.0.100.20140903-1234"/>
<repository location="http://tools.bsiag.com/marketplace/rayo/4.0"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Xms256m -Xmx512m </vmArgs>
</launcherArgs>
</target>
